<hr>

<div class="row">
	<div class="eleven columns">
		{{#draggable-object-target action="addToList" dragOverAction='dropzoneHover' dragOutAction='removeFromList'}}
			<div class="drop-zone">
				<p>+ Drop stuff here</p>
			</div>
		{{/draggable-object-target}}
	</div>
</div>