<div class="offset-by-three nine columns dashboard-wrapper row">
	<div class="ten columns">
		<h3>{{model.name}}</h3>
		<p>{{model.text}}</p>
	</div>
	<div class="one column">
	<button {{action "toggleEditDashboard"}}>{{fa-icon "fa-pencil"}}Edit</button>
	</div>
</div>
