<div class="offset-by-three nine columns row">
	<div class="ten columns">
		<h3>{{model.name}}</h3>
		<p>{{model.text}}</p>
	</div>
	<div class="one column">
	{{#link-to 'dashboard.board.edit' model.id}}<button {{!-- {{action "toggleEditDashboard"}} --}}>{{fa-icon "fa-pencil"}}Edit</button>{{/link-to}}
	</div>
</div>
