<menu class="side-menu right three columns">

	{{input placeholder="Title" value=model.name}}

	{{input placeholder="Description" value=model.text}}

	<ul>
		<li></li>
		<li>Drag & Drop stuff</li>
		<li>Backup</li>
		<li>Finance</li>
	</ul>
</menu>