<menu class="side-menu right three columns">

	<div class="u-width-full">
		{{#link-to 'dashboard.board' model.id class="btn one-half column"}}Save{{/link-to}}
		{{#link-to 'dashboard.board' model.id class="btn one-half column"}}Cancel{{/link-to}}
	</div>

	<hr class="u-cf">

	<label for="dashboard-name">Dashboard name:</label>
	{{input class="u-width-full" id="dashboard-name" value=model.name}}
	<label for="dashboard-description">Description:</label>
	{{input class="u-width-full" id="dashboard-description" value=model.text}}

	<ul>
		<li>Backup</li>
		<li>Finance</li>
	</ul>
</menu>