<menu class="side-menu left three columns">
	<ul>
		{{#each dashboard as dashboards}}
			<li>{{#link-to 'dashboard.id' }}{{dashboard.name}}{{/link-to}}</li>
		{{/each}}
		<li>{{#link-to 'dashboard.new'}}{{fa-icon 'fa-plus-circle'}} Add new dashboard{{/link-to}}</li>
	</ul>
</menu>