<menu class="side-menu left three columns">
	<ul>
		{{#each board as |dashboard|}}
			<li>{{#link-to 'dashboard' id}}{{title}}{{/link-to}}</li>
		{{/each}}
		<li>{{#link-to 'dashboard.new'}}{{fa-icon 'fa-plus-circle'}} Add new dashboard{{/link-to}}</li>
	</ul>
</menu>