header { width: 100%;
		 height: 3em ;
		 background: #232323;
		 padding: 0.5em; }
header menu ul { margin: 0;
				 padding: 0;
				 float: right;
				 list-style-type: none; }
header menu ul li { margin: 0.8em;
				 	padding: 0;
				 	float: left; }

menu#side-menu { min-width: 8em;
				 max-width: 25%;
				 height: 100%; }
menu#side-menu ul li { padding: 1em;
					   border-bottom: 1px solid #ccc; }



/** TYPOGRAPHY **/
header h1 { color: #ccc; }
header menu ul li { color: #ccc; }