{{dashboard-drop}}

{{#menu-graph-drag dashboard=model}}
	<div class="u-width-full">
		{{#link-to 'dashboard.board' dashboard.id class="btn one-half column"}}Save{{/link-to}}
		{{#link-to 'dashboard.board' dashboard.id class="btn one-half column warning" invokeAction="userRolledbackDashboardChanges"}}Cancel{{/link-to}}
	</div>
{{/menu-graph-drag}}