{{dashboard-drop}}

{{#menu-graph-drag model=model}}
	<div class="u-width-full">
		{{#link-to 'dashboard.board' model.dashboard.id class="btn one-half column"}}Save{{/link-to}}
		{{#link-to 'dashboard.board' model.dashboard.id class="btn one-half column warning" invokeAction="userRolledbackDashboardChanges"}}Cancel{{/link-to}}
	</div>
{{/menu-graph-drag}}