<div class="u-width-full dashboard-wrapper empty-state">

	<p>Pretty empty here, huh?</p>

	<p>This is a very long text with explains actually really easy dashboards.<br>
	Could be way worse but this is how it looks like.</p>

	<p>Create a new dashboard or look at one of the existing ones.</p>

</div>