<header>
	<div class="container">
		<h1 class="two columns">Reports</h1>
		<menu class="ten columns" id="top-menu">
			<ul>
			<li>Settings</li>
			<li>Profile</li>
			<li>Notifications</li>
			</ul>
		</menu>
	</div>
</header>

<menu id="side-menu">
	<ul>
	<li>Dashboard #1</li>
	<li>Dashboard #2</li>
	</ul>
</menu>

{{outlet}}
