<header>
		<h1 class="three columns">Reports</h1>
		<menu class="nine columns" id="top-menu">
			<ul>
				<li>{{fa-icon "fa-bell"}} Notifications</li>
				{{#link-to 'settings'}}<li>{{fa-icon "fa-wrench"}} Settings</li>{{/link-to}}
				{{#link-to 'profile'}}<li id="header-notification">{{fa-icon "fa-user"}} Profile</li>{{/link-to}}
			</ul>
		</menu>
</header>

{{outlet}}
