<div class="container">
	<div class="three columns" id="user-image">
		<img src="{{profile.image}}">
	</div>
	<div class="nine columns">
	{{model.name}} {{profile.lastname}}
	<hr>
	{{profile.email}}
	</div>
</div>