<div class="container">
	<h3>Settings</h3>

	<input type="checkbox" name="lock dashboards" id="lock-dashboards">
	<label for="lock-dashboards">Lock dashboards</label>

	<input type="checkbox" name="some other" id="other-setting">
	<label for="other-settings">Other settings</label>

	<hr>

	<a href="#" class="u-pull-right btn warning">Logout</a>

</div>